<div class="w">
    <header class="title">
    <h1>Il tuo carrello</h1>
    </header>
    <div class="page">
    <table class="cart">
        <thead>
        <tr>
            <th class="first">Photo</th>
            <th class="second">Qty</th>
            <th class="third">Name</th>
            <th class="fifth">Price</th>
            <th class="sixth">Remove</th>
        </tr>
        </thead>
        <tbody>
            <tr class="productitm" >
                <td><img src="../../../../assets/images/dummyimgprod.jpeg" class="thumb" alt="img cart"/></td>
                <td><input type="number" defaultValue="1" min="0" max="99" class="qtyinput" /></td>
                <td>product.product_title</td>
                <td>$ 6</td>
                <td><button class="btn btn-danger">X</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="text-center">
    <button class="btn btn-primary shop-btn">SHOPPA ORA</button>
</div>
