<body>
    <section id="product-info">

        <div class="item-image-parent">
            <div class="item-list-vertical">
                <div class="thumb-box">
                    <img src="https://i.ibb.co/VJf6fXm/thumb1.jpg" alt="thumbnail" />
                </div>

            </div>
            <div class="item-image-main">
                <img src="https://i.ibb.co/xYpFY0T/item1.jpg" alt="default" />
            </div>
        </div>

        <div class="item-info-parent">
            <!-- main info -->
            <div class="main-info">
                <h4>EYEBOGLER Regular Fit Men's Cotton T-Shirt</h4>
                <p>Price: <span id="price">$ 449.00</span></p>
            </div>
            <!-- Choose -->
            <div class="select-items">
                
                
                <div class="change-size">
                    <label><b>Size:</b></label><br>
                    <select>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                        <option>2XL</option>
                    </select>
                </div>

                <div class="description">
                    <ul>
                        <li>Care Instructions: Machine Wash</li>
                        <li>Fit Type: Classic Fit</li>
                        <li>Color name: Black-White</li>
                        <li>Material: Cotton</li>
                        <li>Pattern: Solid</li>
                    </ul>
                </div>
            </div>
            <!-- Description -->
        </div>
    </section>
</body>
