<!-- <header-component></header-component> -->
<!-- <div class="container" [ngStyle]="{'padding-top' : '30px'}">
  <div>
    <a href="#" (click)="getProducts()">Fetch products</a>
  </div>

  <h1>get by id</h1>

  <form (ngSubmit)="getProductById()" #formProductById="ngForm">
    <div class="search-box-wrapper">
      <input 
            type="text" 
            class="search-box center" 
            placeholder="Cerca per id"
            ngModel
            name="search">
      <i class="fa fa-search search-box-icon"></i>
    </div>
  </form>

  <h1>search by name</h1>

  <form (ngSubmit)="getSearchProductsByName()" #formProductsByName="ngForm">
    <div class="search-box-wrapper">
      <input 
            type="text" 
            class="search-box center" 
            placeholder="Cerca per nome"
            ngModel
            name="search">
      <i class="fa fa-search search-box-icon"></i>
    </div>
  </form>
</div> -->
<!-- <gallery-component></gallery-component>
<footer-component></footer-component> -->
<router-outlet></router-outlet>